{% extends "layout.html" %}
{% block body %}

<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col--desktop mdl-cell--hide-phone"></div>
  <div class="mdl-cell mdl-cell--4-col--desktop mdl-typography--text-center">
    @
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" name="handle" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1" id="tweetlabel">Twitter handle</label>
    </div>
    <div></div>
    <div class="mdl-spinner mdl-js-spinner" id="spinner" style="display:none"></div>
    <h6 id="instructions" style="color:gray">Enter a Twitter handle, and we'll provide a doppl.</h6>
    <div id="tweet"></div>
</div>
  <div class="mdl-cell mdl-cell--4-col--desktop mdl-cell--hide-phone"></div>
</div>
{% endblock %}
