{% extends "layout.html" %}
{% block body %}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
<p>
    <div>    
    @
    <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" name="handle" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Text...</label>
    </div>
    </div>
    <span id="result">    </span>
<p>
<div id="tweet"></div>
</div>
<div class="mdl-cell mdl-cell--4-col"></div>
</div>
{% endblock %}